div#login_cont{
    width:          500px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.large.awesome, .large.awesome:visited 			{ font-size: 19px; padding: 8px 14px 9px; }

.medium.awesome, .medium.awesome:visited 	    { font-size: 14px; padding: 8px 14px 9px; }

#slideshow-caption p{
    font-size:          22px;
}

div#login_header{
    padding-top:        10px;
    padding-bottom:     50px;
}

#login_form_cont{
    position:       relative;
    width:          420px;
    padding:         10px 0px;
}

div#login_content div#login_left_cont{
    float:          none;
    margin:         0 auto;
    width:          460px;
}

div#login_content div#login_right_cont{
    float:          none;
    margin:         0 auto;
    width:          480px;
}

div#login_right_cont h2{
    font-size:          26px;
    font-weight:        bold;
}

div#login_left_cont h2{
    font-size:          26px;
    font-weight:        bold;
}

#tagline_cont{
    text-align:         center;
    margin-bottom:      15px;
}

div#tagline_cont p, div#key_cont p{
    font-size:          20px;
}

div#login_content #tagline_cont{
    margin:             0 auto;
}

#subscribe_form input{
    width:              300px;
}

input#login{
    font-size:          24px;
    height:             35px;
    width:              300px;
}

#login{
    width:              300px;
}

#submit_login{
    font-size: 19px; padding: 8px 14px 9px;
}

#subscribe_cont p{
    font-size:          16px;
}

input[type="text"]{
    font-size:          24px;
    height:             35px;
    width:              300px;
}

div#context_cont{
    width:          460px;
}

#context_cont span.button{
    margin-left:        0px;
    float:              right;
}

#contact_form textarea, #bug_form textarea{
    width:              32em; 
    height:             16em;
}

#account_create_cont h2{
    font-size:          26px;
    font-weight:        bold;
}

#footer{
    font-size:          16px;
    font-weight:        bold;
    margin:             0px;
    height:             20px;
}