<!DOCTYPE html>
<html>
<head id="my_head">
	<title>Portrit - </title>
    <meta charset="utf-8" />
    <meta name="description" content="Award the best photos. It's up to you and your Facebook friends to find whose got the best pics." />
    <meta name="keywords" content="portrit, portrait, social, facebook, photo, vote, nominate, trophy, trophies" />
	<link rel="shortcut icon" href="http://s3.amazonaws.com/portrit/img/favicon.ico">
    <link rel="apple-touch-icon" href="http://s3.amazonaws.com/portrit/img/icon128.png"/>
    <link rel="apple-touch-icon-precomposed" href="http://s3.amazonaws.com/portrit/img/icon128.png"/>
    {% if production_code %}
        <link rel="stylesheet" href="http://s3.amazonaws.com/portrit/styles/production/landing.css" />
        <link rel="stylesheet" href="http://s3.amazonaws.com/portrit/styles/production/portrit.css"/>
    {% else %}
        <link rel="stylesheet" href="/site_media/styles/trunk/landing.css" />
        <link rel="stylesheet" href="/site_media/styles/trunk/portrit.css"/>
        {% ifequal mobile_var "ipad" %}
            <link rel="stylesheet" href="/site_media/styles/trunk/tablet.css"/>
        {% endifequal %}
    {% endif %}
    <script src="http://www.google.com/jsapi?key=ABQIAAAAv9UUX4Bh3gRCpbzjSE5MxxSfZ7BxKgj6oXj1KRYYnjuHN0SsnBTx1B5nTeUxCB_k-Yerxn8ZVGvnLA" type="text/javascript"></script>
    <script type="text/javascript">
        google.load("jquery", "1.4.4");
    </script>
    {% if production_code %}
        <script type="text/javascript" src="http://s3.amazonaws.com/portrit/js/production/portrit-min.js"></script>
    {% else %}
        <script type="text/javascript" src="/site_media/js/trunk/easing.1.3.js"></script>
        <script type="text/javascript" src="/site_media/js/trunk/ajaxfileupload.js"></script>
        <script type="text/javascript" src="/site_media/js/trunk/jquery.autocomplete.js"></script>
        <script type="text/javascript" src="/site_media/js/trunk/iscroll.js"></script>
        <script type="text/javascript" src="/site_media/js/trunk/mdetect.js"></script>
        <script type="text/javascript" src="/site_media/js/trunk/main.js"></script>
    {% endif %}

    {% if analytics %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-17124785-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    {% endif %}
</head>
<body>
    <div id="fb-root"></div>
    <script type="text/javascript">
    	if (window.location.hostname == 'portrit.com' || window.location.hostname == 'www.portrit.com'){
    	    window.fbAsyncInit = function() {
                FB.init({appId: '126374870731237', status: true, cookie: true, xfbml: false});
                fb_server_timeout = setTimeout(fb_down, 3000);
                FB.getLoginStatus(handleSessionResponse);
            };
        }
        else if (window.location.hostname == 'test.portrit.com' || window.location.hostname == 'www.test.portrit.com'){
            window.fbAsyncInit = function() {
                FB.init({appId: '123063501058161', status: true, cookie: true, xfbml: false});
                fb_server_timeout = setTimeout(fb_down, 3000);
                FB.getLoginStatus(handleSessionResponse);
            };
        }
        else{
            window.fbAsyncInit = function() {
                FB.init({appId: '155664697800227', status: true, cookie: true, xfbml: false});
                fb_server_timeout = setTimeout(fb_down, 3000);
                FB.getLoginStatus(handleSessionResponse);
            };
        }
        
        function fb_down(){
            $('#content_loading').html('<h1 style="display:none">Uh oh, Looks like we are having issues talking with Facebook. Give us a few minutes to check our tubes.</h1>');
            $('#content_loading h1').fadeIn();
        }
        
        (function() {
            var e = document.createElement('script');
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>
    <div id="search" style="display:none;">
        <div id="search_cont">
			<h2>Search</h2>
            <input type="text" id="query"/>
            <p id="close_search" class="close_img"></p>
            <div id="results"></div>
        </div>
    </div>
    <div id="feedback" style="display:none;">
        <div id="feedback_cont">
            <h2>Feedback</h2>
            <div id="feedback_cont_wrap">
                <p>Tell us what you like, what you don't like, what you would do differently, or just tell us what's up.</p>
                <textarea id="feedback_message"></textarea>
                <p id="error_text"></p>
                <a class="awesome large red" id="submit_feedback">Submit</a>
                <div class="clear"></div>
            </div>
            <div id="feedback_reponse">
                <h2 id="feedback_thanks">Thanks for your support!</h2>
                <div id="close_feedback_button">
                    <a class="awesome large red">Close</a>
                </div>
            </div>
            <p id="close_feedback" class="close_img"></p>
        </div>
    </div>
    <div id="context_overlay" style="display:none;">
        <div id="context_overlay_cont">
            <p id="close_overlay" class="close_img"></p>
            <div></div>
        </div>
    </div>
    <div id="new_nomination_wrap" style="display:none;">
        <div id="new_nomination_cont">
            <div id="trophy_cont_top">
                <h2>Nominate Photo For A Trophy</h2>
                <ul>
                    <li class="unselected" id="Hot_cont">
                        <p class="trophy_img medium hot" onclick="void(0)"></p>
                        <h4 class="nom_cat_hot_text">Hot</h4>
                    </li>
                    <li class="unselected" id="Lol_cont">
                        <p class="trophy_img medium lol" onclick="void(0)"></p>
                        <h4 class="nom_cat_lol_text">LOL</h4>
                    </li>
                    <li class="unselected" id="Artsy_cont">
                        <p class="trophy_img medium artsy" onclick="void(0)"></p>
                        <h4 class="nom_cat_artsy_text">Artsy</h4>
                    </li>
                    <li class="unselected" id="Fail_cont">
                        <p class="trophy_img medium fail" onclick="void(0)"></p>
                        <h4 class="nom_cat_fail_text">Fail</h4>
                    </li>
                    <li class="unselected" id="Party_Animal_cont">
                        <p class="trophy_img medium party_animal" onclick="void(0)"></p>
                        <h4 class="nom_cat_party_animal_text">Party Animal</h4>
                    </li>
                    <li class="unselected" id="Cute_cont">
                        <p class="trophy_img medium cute" onclick="void(0)"></p>
                        <h4 class="nom_cat_cute_text">Cute</h4>
                    </li>
                    <li class="unselected" id="WTF_cont">
                        <p class="trophy_img medium wtf" onclick="void(0)"></p>
                        <h4 class="nom_cat_wtf_text">WTF</h4>
                    </li>
                    <li class="unselected" id="Creepy_cont">
                        <p class="trophy_img medium creepy" onclick="void(0)"></p>
                        <h4 class="nom_cat_creepy_text">Creepy</h4>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
            <div id="trophy_cont_bottom">
                <div id="active_nominations">
                    <h3>Selected Nominations</h3>
                    <div id="active_empty">
                        <h5>No nominations selected</h5>
                    </div>
                    <div id="active_nominations_cont">
                    </div>
                    <div class="clear"></div>
                </div>
                <textarea id="nomination_comment">Add a caption to this nomination.</textarea>
                <span id="cancel_nomination" class="awesome large">Cancel</span>
                <span id="post_nomination" class="awesome large">Post Nomination</span>
                <div class="clear"></div>
            </div>
        </div>
        <div id="nom_complete_cont" style="display:none;">
            <h1>Photo Has Been Nominated</h1>
            <p id="close_nom_success" class="close_img"></p>
        </div>
    </div>
    <div id="wrapper">
        <div id="header" style="display:none; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#111));">
			<div id="header_wrap">
				<div id="left_nav">
	                <div class="nav_icon" id="back" title="Back"></div>
	                <div class="nav_icon" id="home" title="Home"></div>
	                <div class="nav_icon" id="search_control" title="Search"></div>
	                <div id="footer_notification_cont">
                        <div id="notification_footer_popup">
                            <div id="notification_arrow"></div>
                            <div id="notification_footer_popup_heading">
                                <h2>Notifications</h2>
                                <span id="clear_all_notifications" style="display:none;">Clear</span>
                            </div>
                            <div id="notification_footer_popup_cont">

                            </div>
                        </div>
                    </div>
	                <div id="give_feedback"><a onclick="void(0)">Give Feedback</a></div>
	            </div>
                <a id="logo_link" href="#">
                    <img id="logo" src="http://s3.amazonaws.com/portrit/img/logo.png"/>
                </a>
				<div id="right_nav">
	                <div class="nav_icon" id="settings" title="Settings"></div>
	                <div class="nav_icon" id="logout" title="Logout"></div>
	                <div id="me">
	                    <div id="profile_pic"></div>
	                </div>
	            </div>
	            <div class="clear"></div>
			</div>
        </div>
        <div id="notification_popup_cont"></div>
        <div id="cont">
            <div id="title"></div>
            <div id="content_loading">
                <h2>Loading Canvas...</h2>
            </div>
            <div id="login_cont"></div>
            <div id="friend_cont">
                <div id="wall_cont"></div>
            </div>
            <div id="canvas_cont"></div>
            <div id="friend_album_cont"></div>
            <div id="photo_cont"></div>
            <div id="context_cont" style="display: none;"></div>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer" style="background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#111));">
        <a class="footer_hover" id="about" href="#/context=about">About</a>
        <div class="footer_box"></div>
        <a class="footer_hover" id="contact" href="http://blog.portrit.com" target="_blank">Blog</a>
        <div class="footer_box"></div>
        <a class="footer_hover" id="contact" href="#/context=contact">Contact</a>
        <div class="footer_box"></div>
        <a class="footer_hover" id="terms" href="#/context=terms">Terms</a>
        <div class="footer_box"></div>
        <a class="footer_hover" id="privacy" href="#/context=privacy">Privacy</a>
        <div id="portrit_copyright">
            <div></div>
            <p id="copyright">Portrit © 2011</p>
        </div>
    </div>
</body>
</html>
