<!DOCTYPE html>
<html>
<head id="my_head">
	<title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="Award the best photos. It's up to you and your Facebook friends to find whose got the best pics." />
    <meta name="keywords" content="portrit, portrait, social, facebook, photo, vote, nominate, trophy, trophies" />
    <meta property="og:title" content="{{ fb_title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://portrit.com"/>
    <meta property="og:image" content="http://portrit.s3.amazonaws.com/img/icon128.png"/>
    <meta property="og:site_name" content="Portrit"/>
    <meta property="og:description" content="Award the best photos. It's up to you and your Facebook friends to find whose got the best pics."/>
	<meta property="fb:app_id" content="126374870731237">
	<meta property="fb:admins" content="1450020005,111500557">
	<meta name="application-name" content="Portrit">
	<link rel="shortcut icon" href="http://portrit.s3.amazonaws.com/img/favicon.ico">
    <link rel="apple-touch-icon" href="http://portrit.s3.amazonaws.com/img/icon128.png"/>
    <link rel="apple-touch-icon-precomposed" href="http://portrit.s3.amazonaws.com/img/icon128.png"/>
    {% if production_code %}
        <link rel="stylesheet" href="http://portrit.s3.amazonaws.com/styles/production/portrit-14.css"/>
    {% else %}
		{% if test_code %}
			<link rel="stylesheet" href="http://portrit_test.s3.amazonaws.com/styles/trunk/portrit.css"/>
		{% else %}
        	<link rel="stylesheet" href="/site_media/styles/trunk/portrit.css"/>
		{% endif %}
    {% endif %}
    <script src="http://www.google.com/jsapi?key=ABQIAAAAv9UUX4Bh3gRCpbzjSE5MxxSfZ7BxKgj6oXj1KRYYnjuHN0SsnBTx1B5nTeUxCB_k-Yerxn8ZVGvnLA" type="text/javascript"></script>
    <script type="text/javascript">
        google.load("jquery", "1.5.2");
    </script>
    {% if production_code %}
        <script type="text/javascript" src="http://portrit.s3.amazonaws.com/js/production/portrit-min-17.js"></script>
    {% else %}
		{% if test_code %}
			<script type="text/javascript" src="http://portrit_test.s3.amazonaws.com/js/trunk/easing.1.3.js"></script>
	        <script type="text/javascript" src="http://portrit_test.s3.amazonaws.com/js/trunk/jquery.autocomplete.js"></script>
	        <script type="text/javascript" src="http://portrit_test.s3.amazonaws.com/js/trunk/iscroll.js"></script>
	        <script type="text/javascript" src="http://portrit_test.s3.amazonaws.com/js/trunk/mdetect.js"></script>
	        <script type="text/javascript" src="http://portrit_test.s3.amazonaws.com/js/trunk/jquery.fileupload.js"></script>
	        <script type="text/javascript" src="http://portrit_test.s3.amazonaws.com/js/trunk/main.js"></script>
		{% else %}
	        <script type="text/javascript" src="/site_media/js/trunk/easing.1.3.js"></script>
	        <script type="text/javascript" src="/site_media/js/trunk/jquery.autocomplete.js"></script>
	        <script type="text/javascript" src="/site_media/js/trunk/iscroll.js"></script>
	        <script type="text/javascript" src="/site_media/js/trunk/mdetect.js"></script>
	        <script type="text/javascript" src="/site_media/js/trunk/jquery.fileupload.js"></script>
	        <script type="text/javascript" src="/site_media/js/trunk/main.js"></script>
		{% endif %}
    {% endif %}

    {% if analytics %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-17124785-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    {% endif %}
</head>
<body>
    <div id="fb-root"></div>
    <script type="text/javascript">
    	if (window.location.hostname == 'portrit.com' || window.location.hostname == 'www.portrit.com'){
    	    window.fbAsyncInit = function() {
                FB.init({appId: '126374870731237', status: true, cookie: true, xfbml: true});
                clearTimeout(fb_server_timeout);
                fb_server_timeout = setTimeout(fb_down, 6000);
                FB.getLoginStatus(handleSessionResponse);
            };
        }
        else if (window.location.hostname == 'test.portrit.com' || window.location.hostname == 'www.test.portrit.com' || window.location.hostname == 'http://portrit-load-balancer-1655256107.us-east-1.elb.amazonaws.com'){
            window.fbAsyncInit = function() {
                FB.init({appId: '123063501058161', status: true, cookie: true, xfbml: true});
                clearTimeout(fb_server_timeout);
                fb_server_timeout = setTimeout(fb_down, 6000);
                FB.getLoginStatus(handleSessionResponse);
            };
        }
        else{
            window.fbAsyncInit = function() {
                FB.init({appId: '155664697800227', status: true, cookie: true, xfbml: true});
                // FB.provide("UIServer.Methods",
                //    { 'permissions.request' : { size : {width: 575, height: 300}, 
                //                     url: 'connect/uiserver.php',
                //                 transform : FB.UIServer.genericTransform }
                //     } );
                clearTimeout(fb_server_timeout);
                fb_server_timeout = setTimeout(fb_down, 6000);
                FB.getLoginStatus(handleSessionResponse);
            };
        }
        
        function fb_down(){
            $('#content_loading').html('<h1 style="display:none">Uh oh, Looks like we are having issues talking with Facebook. Give us a few minutes to check our tubes.</h1>');
            $('#content_loading h1').fadeIn();
        }
        
        (function() {
            var e = document.createElement('script');
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>
	<!-- <div id="fb_login">
		<fb:login-button perms="email,user_checkins">
		         Login with Facebook
		</fb:login-button>
	</div> -->
    <div id="search" style="display:none;">
        <div id="search_cont">
			<h2>Search</h2>
            <input type="text" id="query"/>
            <p id="close_search" class="close_img"></p>
        </div>
		<div id="results"></div>
    </div>
    <div id="feedback" style="display:none;">
        <div id="feedback_cont">
            <h2>Feedback</h2>
            <div id="feedback_cont_wrap">
                <p>Tell us what you like, what you don't like, what you would do differently, or just tell us what's up.</p>
                <textarea id="feedback_message"></textarea>
                <p id="error_text"></p>
                <a class="sick large red" id="submit_feedback">Submit</a>
                <div class="clear"></div>
            </div>
            <div id="feedback_reponse">
                <h2 id="feedback_thanks">Thanks for your support!</h2>
                <div id="close_feedback_button">
                    <a class="sick large red">Close</a>
                </div>
            </div>
            <p id="close_feedback" class="close_img"></p>
        </div>
    </div>
    <div id="context_overlay" style="display:none;">
        <div id="context_overlay_cont">
            <p id="close_overlay" class="close_img"></p>
            <div></div>
        </div>
    </div>
    <div id="wrapper">
        <div id="header" style="display:none;">
			<div id="header_wrap">
				<div id="general_header" style="display:none;">
					<div id="left_nav">
		                <div class="nav_icon" id="back" title="Back"></div>
		                <div class="nav_icon" id="home" title="Home"></div>
		                <div class="nav_icon" id="search_control" title="Search"></div>
		                <div id="footer_notification_cont">
	                        <div id="notification_footer_popup">
	                            <div id="notification_arrow"></div>
	                            <div id="notification_footer_popup_heading">
	                                <h2>Notifications</h2>
	                                <span id="clear_all_notifications" style="display:none;">Clear</span>
	                            </div>
	                            <div id="notification_footer_popup_cont">

	                            </div>
	                        </div>
	                    </div>
		                <div id="give_feedback"><a onclick="void(0)">Give Feedback</a></div>
		            </div>
	                <a id="logo_link">
	                    <img id="logo" src="http://portrit.s3.amazonaws.com/img/logo.png"/>
	                </a>
					<div id="right_nav">
		                <div class="nav_icon" id="logout" title="Logout"></div>
		                <div id="me">
		                    <div id="profile_pic"></div>
		                </div>
		            </div>
		            <div class="clear"></div>
				</div>
				<div id="public_header"></div>
			</div>
        </div>
        <div id="notification_popup_cont"></div>
        <div id="cont">
            <div id="title"></div>
            <div id="content_loading">
                <h2>Loading Canvas...</h2>
            </div>
            <div id="login_cont"></div>
			<div id="wall_cont"></div>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        <a class="footer_hover" id="about" href="/#!/about/">About</a>
        <div class="footer_box"></div>
        <a class="footer_hover" id="contact" href="http://blog.portrit.com/" target="_blank">Blog</a>
        <div class="footer_box"></div>
        <a class="footer_hover" id="contact" href="/#!/contact/">Contact</a>
        <div class="footer_box"></div>
        <a class="footer_hover" id="privacy" href="/#!/faq/">FAQ</a>
        <div class="footer_box"></div>
        <a class="footer_hover" id="privacy" href="/#!/privacy/">Privacy</a>
		<div class="footer_box"></div>
        <a class="footer_hover" id="terms" href="/#!/terms/">Terms</a>
        <div id="portrit_copyright">
            <div></div>
            <p id="copyright">Portrit © 2011</p>
        </div>
    </div>
</body>
</html>
