<!DOCTYPE html>
<html>
<head>
    <title>Portrit - Coming Soon!</title>
    <meta charset="utf-8" />
    <meta name="description" content="In Portrit, everything is a picture!" />
    <meta name="keywords" content="facebook, visual, social, portrit, portrait, friends, touch" />
    
    <link rel="shortcut icon" href="/site_media/img/favicon.ico">
    <link rel="apple-touch-icon" href="/site_media/img/icon128.png"/>
    <link rel="apple-touch-icon-precomposed" href="/site_media/img/icon128.png"/>
    {% if production_code %}
        <link rel="stylesheet" href="/site_media/styles/production/portrit.css"/>
        <link rel="stylesheet" href="/site_media/styles/production/landing.css" />
    {% else %}
        <link rel="stylesheet" href="/site_media/styles/trunk/portrit.css"/>
        <link rel="stylesheet" href="/site_media/styles/trunk/landing.css" />
    {% endif %}
    <script src="http://www.google.com/jsapi?key=ABQIAAAAv9UUX4Bh3gRCpbzjSE5MxxSfZ7BxKgj6oXj1KRYYnjuHN0SsnBTx1B5nTeUxCB_k-Yerxn8ZVGvnLA" type="text/javascript"></script>
    <script type="text/javascript">
        google.load("jquery", "1.4.2");
    </script>
    <script type="text/javascript" src="/site_media/js/trunk/mdetect.js"></script>
    <script type="text/javascript">
        var mobile = false;
        var tablet = false;
        if (DetectMobileQuick() === true){
            mobile = true;
        }
        else if (DetectIpad() === true){
            mobile = true;
            tablet = true;
        }
        $(document).ready(function(){
            if (mobile && !tablet){
                if (typeof(_gaq) !== "undefined"){
                    var meta_html = '<link rel="stylesheet" href="/site_media/styles/production/mobile_landing.css"/>' +
                                    '<meta id="viewport_meta" name="viewport" content="width=520, user-scalable=no"/>' +
                                    '<link rel="shortcut icon" href="/site_media/img/favicon.ico">' +
                                    '<link rel="apple-touch-icon" href="/site_media/img/icon128.png"/>' +
                                    '<link rel="apple-touch-icon-precomposed" href="/site_media/img/icon128.png"/>';
                }
                else{
                    var meta_html = '<link rel="stylesheet" href="/site_media/styles/trunk/mobile_landing.css"/>' +
                                    '<meta id="viewport_meta" name="viewport" content="width=520, user-scalable=no"/>' +
                                    '<link rel="shortcut icon" href="/site_media/img/favicon.ico">' +
                                    '<link rel="apple-touch-icon" href="/site_media/img/icon128.png"/>' +
                                    '<link rel="apple-touch-icon-precomposed" href="/site_media/img/icon128.png"/>';
                }
                $('head').append(meta_html);

                $('#submit_login').addClass('large');

                var window_width = 520;
                $('body, html, #header, #cont, #wrapper').css({
                    'margin': '0 auto',
                    'min-width': window_width,
                    'width': window_width,
                    'max-width': window_width
                });

                if(window.orientation != 0){
                    var window_width = 720;
                    $('#viewport_meta').attr('content', 'width=520, user-scalable=no, target-densityDpi=160');
                }else{
                    var window_width = 520;
                    $('#viewport_meta').attr('content', 'width=520, user-scalable=no, target-densityDpi=260');
                }
            }
            
            $('#subscribe_email').focus(function() {  
                if (this.value == this.defaultValue){
                    this.value = '';
                    $(this).css({'color': 'black'});
                }  
            });

            $('#subscribe_email').blur(function() {  
                if ($.trim(this.value) == ''){
                    this.value = (this.defaultValue ? this.defaultValue : '');
                    $(this).css({'color': '#3e3e3e'});  
                }  
            });
            
            $('#login').focus(function() {  
                if (this.value == this.defaultValue){
                    this.value = '';
                    $('#login_form_cont').css({'opacity': '1.0'});
                    $(this).css({'color': '#black'});
                }  
            });

            $('#login').blur(function() {  
                if ($.trim(this.value) == ''){
                    this.value = (this.defaultValue ? this.defaultValue : '');
                    $('#login_form_cont').css({'opacity': '0.5'});
                    $(this).css({'color': '#3e3e3e'}); 
                    $('#login_response_text').text('');
                }  
            });
            
            slideShow(4000);
            
            $('#subscribe_form').submit(function(){
                $('#submit_subscribe').click();
                return false;
            });
            
            $('#submit_subscribe').click(function(){
                var email = $('#subscribe_email').val();
                if (isValidEmailAddress(email)){
                    $.post('/subscribe/', {'email': email}, function(data){
                        var response_text = ''
                        if (data === 'exists'){
                            response_text = 'Looks like we already have your email address in the system. Thanks for your enthusiasm! We are working as fast as we can to get you an invite.';
                        }
                        if (data === true){
                            response_text = 'Thanks for your interest in Portrit! We will let you know when we are ready for you.';
                        }
                        $('#response_text').text(response_text);   
                    });
                    $('#subscribe_email').val('Email Address');
                    $('#subscribe_email').css({'color': '#7e7e7e'});  
                }
                else{
                    var response_text = 'Uh oh! Looks like the email address you inputed isn\'t formatted correctly.';
                    $('#response_text').text(response_text);
                }
                return false;
            });
            
            $('.sub_normal').bind('mousedown', function(){
                $(this).removeClass('sub_normal');
                $(this).addClass('sub_clicked');
            });
            
            $(document).bind('mouseup', function(){
                $('.sub_clicked').addClass('sub_normal');
                $('.sub_clicked').removeClass('sub_clicked');
            });
            
            $('#submit_login').click(function(){
                $('#login_form').submit();
            });
            
            $('#login_form').submit(function(){
                var email = $('#login').val();
                email = email.replace(/^\s*|\s*$/g,'');
                if (isValidEmailAddress(email)){
                    $.post('/login/', {'email': email}, function(data){
                        var response_text = ''
                        if (data === false){
                            response_text = 'Looks like you are still in line for an invite. Don\'t worry, these things are going like hot-cakes.';
                        }
                        else if(data === 'None'){
                            response_text = 'Looks like we don\'t have your email on file. Please input your email into subscription box to be notified when we are ready for you.';
                            
                        }
                        else if (data === true){
                            window.location.href = '/beta';
                        }
                        $('#login_response_text').text(response_text);
                    });
                }
                else{
                    $('#login_response_text').text('Uh oh! Looks like the email address you inputed isn\'t formatted correctly.');
                }
                return false; 
            });
        });
        
        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^[a-zA-Z0-9\._%-]+@[A-Z0-9\.-]+\.[a-zA-Z]{2,4}(?:(?:[,][a-zA-Z0-9\._%-]+@[a-zA-Z0-9\.-]+))?$/i);
            return pattern.test(emailAddress);
        }
        
        
        function slideShow(speed) {  


            //append a LI item to the UL list for displaying caption  
            $('ul.slideshow').append('<li id="slideshow-caption" class="caption"><div class="slideshow-caption-container"><h3></h3><p></p></div></li>');  

            //Set the opacity of all images to 0  
            $('ul.slideshow li').css({opacity: 0.0});  

            //Get the first image and display it (set it to full opacity)  
            $('ul.slideshow li:first').css({opacity: 1.0});  

            //Get the caption of the first image from REL attribute and display it  
            $('#slideshow-caption h3').html($('ul.slideshow a:first').find('img').attr('title'));  
            $('#slideshow-caption p').html($('ul.slideshow a:first').find('img').attr('alt'));  

            //Display the caption  
            $('#slideshow-caption').css({opacity: 0.8, bottom:0});  

            //Call the gallery function to run the slideshow      
            var timer = setInterval('gallery()',speed);  

            //pause the slideshow on mouse over  
            $('ul.slideshow').hover(  
                function () {  
                    clearInterval(timer);     
                },    
                function () {  
                    timer = setInterval('gallery()',speed);           
                }  
            );  

        }  

        function gallery() {  


            //if no IMGs have the show class, grab the first image  
            var current = ($('ul.slideshow li.show')?  $('ul.slideshow li.show') : $('#ul.slideshow li:first'));  

            //Get next image, if it reached the end of the slideshow, rotate it back to the first image  
            var next = ((current.next().length) ? ((current.next().attr('id') == 'slideshow-caption')? $('ul.slideshow li:first') :current.next()) : $('ul.slideshow li:first'));  

            //Get next image caption  
            var title = next.find('img').attr('title');   
            var desc = next.find('img').attr('alt');      

            //Set the fade in effect for the next image, show class has higher z-index
            if (!mobile){
                next.css({opacity: 0.0}).addClass('show').animate({opacity: 1.0}, 500);
            }
            else{
                next.css({opacity: 0.0}).addClass('show').css({opacity: 1.0});
            }
            

            //Hide the caption first, and then set and display the caption  
            $('#slideshow-caption').css({bottom:-70});  
            //Display the content  
            $('#slideshow-caption h3').html(title);  
            $('#slideshow-caption p').html(desc);                 
            $('#slideshow-caption').css({bottom:0});

            //Hide the current image  
            current.animate({opacity: 0.0}, 1000).removeClass('show');  
        }
    </script>
    {% if analytics %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-17124785-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    {% endif %}
</head>
<body>
    <div id="wrapper">
        <div id="cont">
            <div id="title"></div>
            <div id="login_cont">
                <div id="login_header">
                    <img id="login_logo" src="/site_media/img/logo_blank.png"/>
                    <div class="clear"></div>
                    <div id="login_form_cont">
                        <form id="login_form" action="/login/" method="POST">
                            <p id="login_response_text"></p>
                            <input id="login" type="text" name="email" value="Email"/>
                            <a id="submit_login" class="medium awesome">Login</a>
                            <div class="clear"></div>
                        </form>
                    </div>
                </div>
                <div id="login_content">
                    <div id="login_left_cont">
                        <ul class="slideshow">  
                            <li class="show"><a><img src="/site_media/img/landing/main.jpg" width="460" height="320" alt="View all your friends as photos on a canvas"/></a></li>  
                            <li><a><img src="/site_media/img/landing/album.jpg" width="460" height="320" alt="Quickly get a overview of your friend's albums with album peek"/></a></li>  
                            <li><a><img src="/site_media/img/landing/list.jpg" width="460" height="320" alt="Dive deep into an album to see the photos"/></a></li>
                            <li><a><img src="/site_media/img/landing/gallery.jpg" width="460" height="320" alt="Go to gallery view to view large photos"/></a></li>
                            <li><a><img src="/site_media/img/landing/mobile.jpg" height="320" alt="Optimized for mobile devices"/></a></li>
                        </ul>
                    </div>
                    <div id="login_right_cont">
                        <div id="tagline_cont">
                            <h2>What's Portrit?</h2>
                            <p>Portrit brings you your facebook friends in a human friendly way, because we can't all be robots. Everything is done with a picture!</p>
							<p>Check out our <a href="http://blog.portrit.com/" target="_blank">walkthrough</a> of Portrit to get an in depth preview of what you can expect.</p>
                        </div>
                        <div id="subscribe_cont">
                            <h2>Want to know when you can join Portrit?</h2>
                            <p>Type in your email address so we can notify you when we're ready. No spam, cross our heart and hope to die!</p>
                            <form id="subscribe_form">
                                <input id="subscribe_email" type="text" value="Email Address"/>
                                <a id="submit_subscribe" class="large red awesome">Subscribe</a>
                                <div class="clear"></div>
                                <p id="response_text"></p>
                            </form>
                        </div>
						<div id="key_cont">
							<h2>Got a Preview Key?</h2>
							<p>Lucky you! Click the button bellow to create your preview account.</p>
							<a href="/create_account" class="large awesome">Join the Portrit Preview</a>
						</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer" style="background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#111));">
        <a class="footer_hover" id="contact" href="mailto:contact@portrit.com">Contact Us</a>
        <span>|<span>
        <a class="footer_hover" id="contact" href="http://blog.portrit.com" target="_blank">Blog</a>
        <span>|<span>
        <p id="copyright">Portrit © 2010</p>
    </div>
</body>
</html>
